<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Generador de Cadenas / DNA Maker
        </title>
		<link rel="icon" href="/logo123.png" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Chivo:wght@800&display=swap"
			rel="stylesheet"
		/>
		<style>
			/* Estilos personalizados */
			body {
                background-color: rgb(255, 255, 255);
      color: rgb(60, 177, 105);
			}

			.navbar-brand {
				font-size: 46px;
			}

			.titleTable {
				margin-top: 30px;
				text-align: center;
				margin-bottom: 30px;
			}

			.descripcionADN {
			
				display: flex;
				justify-content: center;
				align-items: center;
			}
            .generarsecuencias{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
            }
		</style>
	</head>

	<body>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded"style="background-color: rgb(32, 100, 58)">
            <nav class="navbar navbar-expand-lg navbar-dark ">

                <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                    <img src="https://static.vecteezy.com/system/resources/previews/000/504/603/original/vector-dna-icon-design.jpg" alt="Logo" width="60" height="48" class="d-inline-block align-text-top"" style="max-height: 200px; max-width: 150px;">
                  </a>
                  <a class="navbar-brand" href="#" style="font-size: 40px; font-family: 'Chivo', sans-serif;">DNA maker</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <div style="margin-right: 30px;">
                      <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Somos un equipo de investigación los cuales investigan la expresión genética." style="margin-right: 10px;">
                        Info de la Empresa
                      </button>
                      <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Ofrecemos una gran cantidad de informacion genetica tanto experimental como computacional, nuestro laboratorio tiene de objetivo enseñar a los mas jovenes." style="margin-right: 10px;">
                        Info. del Producto
                      </button>
          
                    </div>
                    </li>
                  </div>
                </div>
                <div>
                  <nav class="navbar navbar-dark" style="background-color:rgb(60, 177, 105);;">
                    <a class="navbar-brand" href="https://www.instagram.com/lysgut">
                      <img src="https://th.bing.com/th/id/R.7ee8641f4cbced2d9b1af0e5f66d0219?rik=YAnNsXQ7YwQJjQ&riu=http%3a%2f%2fwww.pocketmeta.com%2fwp-content%2fuploads%2f2016%2f05%2fInstagram-old-logo.png&ehk=jQ83q7IGa3PMFQ7zOXIyrrwOfwENkDmF9ACBboCeryo%3d&risl=&pid=ImgRaw&r=0" width="50" height="30" alt="">
                  Lysgut   
                  </a>
                     <a class="navbar-brand" href="https://twitter.com/zlygi">
                      <img src="https://logos-world.net/wp-content/uploads/2020/04/Twitter-Symbol.png"  width="60" height="30" alt="">
                      Zlygi
                  </a>
                  <a class="navbar-brand" href="https://wa.me/5493516669730">
                      <img src="https://th.bing.com/th/id/R.2471259ef81667698d2b7bdda0fa0742?rik=Ox87YkvZpDfHIg&pid=ImgRaw&r=0"  width="60" height="30" alt="">
                      Lucas
                  </a>
                  
                  </nav>
                </div>
          
              </nav>    
          </div>
          <div class="row">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://th.bing.com/th/id/OIP.WD93R9avf6TwTn2E7mPyhwHaNK?pid=ImgDet&rs=1" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title font-bold">ADN</h5>
                  <h1 class="card-text" id="contenido"></h1>
                </div>
              </div>
            </div>
          </div>


          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://th.bing.com/th/id/OIP.YtFau19dgcNT0IhMh-sDYQHaNJ?pid=ImgDet&rs=1" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title font-bold">ARN</h5>
                  <h1 class="card-text" id="contenidoarn"></h1>
                </div>
              </div>
            </div>
          </div>




          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://wallpaperaccess.com/full/2073414.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title font-bold">PROTEINAS</h5>
                  <h1 class="card-text" id="contenidoProt"></h1>
                </div>
              </div>
            </div>
          </div>
        </div>

		<!-- Begin page content -->
        <div class="button-conteiner" style="align-items: center;">
				<button
					type="button"
					class="btn btn-success"
					data-toggle="tooltip"
					data-placement="bottom"
					title="Esta es la secuencia de Adn del individuo "
				>
					¿Que es el Adn?
				</button>
				<button
					type="button"
					class="btn btn-success"
					data-toggle="tooltip"
					data-placement="bottom"
					title="Esta es la secuencia de Adn del individuo "
				>
					¿Que es el Arn?
				</button>
		
				<button
					type="button"
					class="btn btn-success"
					data-toggle="tooltip"
					data-placement="bottom"
					title="Esta es la secuencia de Adn del individuo "
				>
					¿Que son las Proteinas?
				</button>
            </div>
		<div class="generarsecuencias">
			<button
				class="btn btn-primary"
				id="botonGenerar"
				onclick="sendData()"
			>
				Crear Cadena
			</button>
		</div>
		<script src="/script/client.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>